# Ignorar node_modules

node_modules/

# Ignorar code coverage

# coverage/

# Ignorar dist

dist/

# Ignorar documentación

docs/

#Ignorar git

.git/**

#Ignorar configuración VSCode

.vscode/

#Ignorar los logs

**/logs
*.log
*.logs
!lecturas_adicionales.log