#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center
}

.search__container{
    padding-top: 5rem;
}

.search__title{
    text-align: center;
    color: crimson;
    margin-bottom: 1rem;
}