.list {
  display: flex;
  flex-direction: column;
  min-width: 60%;

  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  li {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 6px;

    &:hover {
      background-color: rgba(202, 182, 158, 0.5);
      color: rgba(43, 182, 158, 0.9);
      border: 1px solid transparent;

      img {
        width: 64px;
        border: none;
      }
    }

    img {
      width: 64px;
      border: 1px solid rgba(0, 128, 128, 0.9);
    }
  }
}
