.repos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.repos__header {
  display: flex;
  flex-direction: column;
}

.repos__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.repos__item {
  margin: 1%;
}

.repos__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}