.search {
  padding: 5% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search__title {
    text-align: center;
    color: rgba(43, 182, 158, 0.9);
    margin-bottom: 1rem;
  }
}
